* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    font-size: 16px;
    background: #eee;
    color: #777;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: #18537a;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 0;
}

.logout {
    position: absolute;
    top: 44px;
    width: 85px;
    height: 26px;
    border-radius: 10px;
    right: 10px;
    color: white;
    background: linear-gradient(to right, #8ad2df, #1f79ff);
}
.logout:hover {
    background: linear-gradient(to right, #1f79ff, #8ad2df);
}

.navbar .prof {
    background: #1f79ff;
    color: white;
    width: 85px;
    border-radius: 10px;
    height: 25px;
}

.event-title {
    text-align: center;
    font-size: 2em;
    color: #18537a;
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
}


.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 100px;

}


.item-container {
    position: relative;
    margin: 24px;
    width: 320px;
    height: 570px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.img-container,
.body-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-container img {
    width: 100%;
}

.body-container {
    position: relative;
}

.overlay {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: rgba(24, 83, 122, 0.6);
    opacity: 0;
    transition: height linear 0.4s, opacity linear 0.2s;
}

.item-container:hover .overlay {
    opacity: 1;
    height: 150px;
}

.event-info {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.price {
    color: #18537a;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 12px;
}

.info {
    letter-spacing: 0.5px;
    margin-bottom: 6px;
}

.separator {
    width: 20%;
    height: 6px;
    background-color: #17537a;
    margin-bottom: 16px;
}

.additional-info {
    border-top: 1px solid #bbb;
    margin-top: 12px;
    padding: 28px;
    padding-bottom: 0;
}

.additional-info .info {
    font-size: 0.9em;
    margin-bottom: 20px;
    text-align: center;
}

.info i {
    color: #18537a;
    font-size: 1.1em;
    margin-right: 4px;
}

.info span {
    color: #18537a;
    font-weight: bolder;
}

.action {
    color: #fff;
    border: 3px solid #fff;
    background-color: transparent;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    outline: none;
    cursor: pointer;
    padding: 12px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 2px;
    transition: background-color 0.4s, top 0.4s;
}

.item-container:hover .action {
    top: 50px;
}

.action:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.custom-alert-success {
    /* Atur gaya sesuai keinginan Anda */
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    animation: fadeOut 3s forwards;
    /* Ubah waktu sesuai keinginan Anda */
}

.custom-alert-erorr {
    /* Atur gaya sesuai keinginan Anda */
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    animation: fadeOut 5s forwards;
    /* Ubah waktu sesuai keinginan Anda */
}

.blurry-background {
    background: #18537a;
    filter: blur(6px);
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.alert-content {
    text-align: center;
    font-size: 2em;
    color: white;
    position: relative;
    z-index: 1;
}


@keyframes fadeIn {
    100% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    0% {
        opacity: 0;
        display: none;
    }
}

/* Gaya modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeIn 1s forwards;
}

/* Gaya konten modal */
.modal-content {
    background: white;
    color: #18537a;
    text-align: center;
    margin: 12% auto;
    padding: 15px;
    border: 3px solid black;
    width: 50%;
    height: auto; /* Ganti tinggi modal menjadi otomatis */
    display: flex;
    flex-direction: column; /* Mengatur konten modal menjadi tata letak kolom */
    justify-content: space-between; /* Menempatkan konten di antara atas dan bawah modal */
}

@media screen and (max-width: 600px) {
    .modal-content {
        width: 90%;
    }
}


/* Gaya input dalam tag <p> */
.modal-content p input {
    font-size: 20px;
    width: 100%; /* Menyesuaikan lebar input dengan lebar modal */
    padding: 10px; /* Menambahkan padding agar tata letak terlihat lebih baik */
    margin-bottom: 10px; /* Menambahkan margin antar input */
}

/* Gaya tombol "Save" */
#submit {
    padding: 0px 0px;
    width: 85px;
    height: 30px;
    background-color: #18537a;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-self: flex-end; /* Menempatkan tombol "Save" di ujung bawah modal */
}

/* Gaya tombol penutup modal */
.close {
    color: #f1eaea;
    position: absolute;
    top: 10px; /* Atur jarak dari atas */
    right: 10px; /* Atur jarak dari kanan */
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
}
