body {
    padding: 0;
    margin: 0;
    background-image: url('/images/latar belakang.jpg');
    font-family: 'Montserrat', sans-serif;
}

.overlay {
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.box {
    position: absolute;
    width: 400px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 0 10px 10px 10px rgb(0, 0, 0, .2);
}

.header {
    background-image: url('/images/depan.jpg');
    background-size: cover;
    padding: 90px 30px;
    color: white;
    border-radius: 15px 15px 0;
}

.header p {
    font-size: small;
}

.login.area {
    text-align: center;
    padding: 50px 50px 30px 50px;
}

.name,
.phone_number,
.email,
.password,
.password_confirmation {
    width: 100%;
    text-align: center;
    padding: 13px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
    background-color: #0d6efd;
    margin-bottom: 15px;
    transition: .5s;
}

.name::placeholder,
.phone_number::placeholder,
.email::placeholder,
.password_confirmation::placeholder,
.password::placeholder {
    color: rgba(255, 255, 255, .7);
}

.name:focus,
.phone_number:focus,
.email:focus,
.password_confirmation:focus,
.password:focus {
    background-color: #0d6efd;
}

.password-container {
    position: relative;
}

.show-password {
    position: absolute;
    top: 40%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}


.submit {
    width: 150px;
    padding: 10px;
    background-color: #0d6efd;
    border-radius: 15px;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    margin: 10px;
    transition: .2s;
    cursor: pointer;
}

.submit:hover {
    background-color: #0d6efd;
}

a {
    display: block;
    font-size: small;
    text-decoration: none;
    color: #0d6efd;
    margin-top: 10px;
}
