*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color:white;
    display: flex;
    align-items:center ;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container{
    width:500px ;
    height:500px ;
    background-color:white ;
    border-radius:50% ;
    border: 15px solid black;
    position: relative;
    overflow: hidden;
    transition: 5s;
}

.container div {
   height:50% ;
   width: 200px;
   position: absolute;
   clip-path: polygon(100% 0, 50% 100%, 0 0);
   transform:translateX(-50%) ;
   transform-origin: bottom;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 20px;
   font-weight: bold;
   font-family: sans-serif;
   color: #fff;
   left: 135px;
}

.container .one {
    background-color: #3f51b5 ;
    left: 50%;
}
.container .two {
    background-color: #ff9880 ;
    transform: rotate(36deg);
}
.container .three {
    background-color: #e91e63 ;
    transform: rotate(72deg);
}
.container .four {
    background-color: #4caf50 ;
    transform: rotate(108deg);
}
.container .five {
    background-color: #009688 ;
    transform: rotate(144deg);
}
.container .six {
    background-color: #795548;
    transform: rotate(180deg);
}
.container .seven {
    background-color: #9c27b0 ;
    transform: rotate(216deg);
}
.container .eight {
    background-color: #f44336 ;
    transform: rotate(252deg);
}
.container .nine {
    background-color: #5e725a ;
    transform: rotate(288deg);
}
.container .ten {
    background-color: #8b140c ;
    transform: rotate(324deg);
}

.arrow {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50);
    color: black;
}

.arrow::before{
    content: '\1F817';
    font-size: 50px;
}

#spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #e2e2e2;
    text-transform: uppercase;
    border: 8px solid #fff;
    font-weight: bold;
    font-size: 20px;
    color: black;
    width: 80px;
    height: 80px;
    font-family: sans-serif;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    letter-spacing: 1px;
}
